@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
    --color-primary: #FF5C3B;
    --color-secondary: #DED9CA;
    --color-third: #0F232E;
    --color-primary-hover: #e35033;
}

body {
    font-family: 'Inter', Helvetica, sans-serif;
    color: var(--color-third);
    font-size: 1rem;
    background-color: #fff;
    scroll-behavior: smooth;
    color: var(--color-third);
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-third {
    color: var(--color-third);
}

.bg-color-primary {
    background-color: var(--color-primary);
}

.bg-color-secondary {
    background-color: var(--color-secondary);
}

.bg-color-third {
    background-color: var(--color-third);
}

section,
footer {
    padding: 3rem 0;
}

/* sobreposição Boostrap */
.nav-item a.btn-primary,
.btn-primary {
    background-color: var(--color-primary);
    color: #fff;
    border: 0;
    padding: 0.7rem 1rem;
    border-radius: 0;
    text-decoration: none;
}

.nav-item a.btn-primary:hover,
.btn-primary:hover,
.nav-item a.btn-primary:active,
.btn-primary:active {
    background-color: var(--color-primary-hover) !important;
}

a {
    color: var(--color-third);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-control {
    padding: 0.675rem 0.75rem;
    border: 2px solid #000;
    border-radius: 0;
}

.form-control:focus {
    padding: 0.675rem 0.75rem;
    border: 2px solid var(--color-primary);
    box-shadow: 0px 0px 7px 1px rgba(255, 92, 59, 0.4);
    border-radius: 0;
}

.form-control::placeholder {
    color: #000;
    opacity: 1;
}

/* iframe */
.container-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* navbar  */
.navbar {
    background-color: transparent;
    z-index: 1030;
    transition: background-color 0.2s ease-out;
}

.navbar.active {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
}

.navbar img,
.offcanvas img {
    width: 120px;
}

.border-left {
    border-right: 1px solid var(--color-primary);
}

.navbar-toggler,
.navbar-toggler:focus {
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 4px;
}

.navbar-buttom {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.navbar-icon {
    height: 4px;
    background-color: var(--color-primary);
    border-radius: 1rem;
    transition: width 0.5s ease;
}

.navbar-icon-1 {
    width: 80%;
}

.navbar-icon-2 {
    width: 60%;
}

.navbar-icon-3 {
    width: 40%;
}

.navbar-toggler:hover .navbar-icon {
    width: 100%;
}

.offcanvas,
.offcanvas.offcanvas-end {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    border: 0;
}

.offcanvas-backdrop {
    background-color: transparent;
}

.offcanvas .nav-link {
    color: var(--color-third);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 0 1rem 0;
}

.offcanvas .nav-link:hover {
    color: var(--color-primary);
    text-decoration: none;
}

.offcanvas-header .btn-close {
    box-shadow: none;
}


/* header */
.header,
.carousel-header {
    position: relative;
    height: 90vh;
    width: 100%;
}

.header .container {
    background: url("../img/img-header.jpg") no-repeat;
    background-position: 100% 50%;
    background-size: auto 100%;
}

.carousel-header {
    background: url("../img/img-header.jpg") no-repeat;
    background-position: 100% 50%;
    background-size: cover;
    /* animation: header-image 10s infinite alternate; */
}


@keyframes header-image {

    0%,
    20% {
        background: url("../img/img-header.jpg") no-repeat;
        background-position: 100% 50%;
        background-size: cover;
    }

    30%,
    80% {
        background: url("../img/img-header-2.png") no-repeat;
        background-position: 100% 50%;
        background-size: cover;
    }

    90%,
    100% {
        background: url("../img/img-header.jpg") no-repeat;
        background-position: 100% 50%;
        background-size: cover;
    }
}

.border-teste {
    border: 1px solid red;
}

/* box de serviços */
.box {
    background: url("../img/corrimao/1.jpeg") center center no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    max-width: 70%;
}

.box:after {
    content: '';
    display: block;
    padding-top: calc(100%);
}

/* box one */
.box .box-title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-description {
    width: 90%;
    height: 90%;
    background-image: url("../img/grafismo-branco.png");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 1rem;
    color: var(--color-primary);
}

/* box two */
.box.two .box-title {
    background-color: var(--color-primary);
}

.box.two .box-description {
    background: transparent;
    color: #fff;
}

/* box three */
.box.three .box-title {
    background-color: var(--color-third);
}

.box.three .box-description {
    background: transparent;
    color: #fff;
}

/* box four */
.box.four .box-description {
    background-image: url("../img/grafismo-branco-2.png");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    text-align: left !important;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

/* box six */
.box.six .box-title {
    background-color: var(--color-secondary);
}

.box.six .box-description {
    background: transparent;
    color: var(--color-third);
}


/* bloco-separador */
.bloco-separador {
    padding: 5rem 0;
}


/*produto */
#header-corrimao .container {
    background: url("../img/corrimão-guarda-corpo.jpg") no-repeat;
    background-position: 100% 50%;
    background-size: auto 100%;
}

#header-inspire-se .container {
    background: url("../img/inspire-se/header-inpire-se.jpg") no-repeat;
    background-position: 100% 50%;
    background-size: auto 100%;
}

#header-sobre-nos .container{
    background: url("../img/sobre-nos/header-sobre-nos.jpg") no-repeat;
    background-position: 100% 50%;
    background-size: auto 100%;
}

/* galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    /* grid-auto-rows: 400px; */
    /* grid-auto-flow: row; */
    gap: .5rem;
    grid-template-rows: minmax(50px, max-content) 2fr;
}

.galeria .imgGaleria {
    width: 100%;
    height: 100%;
    /* max-height: 70vh; */
    object-fit: cover;
    display: block;
}

.galeria .itemGaleria {
    overflow: hidden;
}

.galeria .item01 {
    grid-column: span 3;
    grid-row: span 2;
}

.galeria .item02 {
    grid-column: span 3;
}

.galeria .item03 {
    grid-column: span 6;
    grid-row: span 2;
}

.galeria .item04 {
    grid-column: span 3;
}

.galeria .item05 {
    grid-column: span 8;
    grid-row: span 1;
}

.galeria .item06 {
    grid-column: span 4;
}

.galeria img {
    transition: 0.5s;
    cursor: zoom-in;
}

.galeria img:hover {
    transform: scale(1.2);
}

/* galeria-inpire-se */
.galeria-inpire-se {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .5rem;
}

.galeria-inpire-se .imgGaleria {
    width: 100%;
    height: 100%;
    /* max-height: 70vh; */
    object-fit: cover;
    display: block;
}

.galeria-inpire-se img {
    transition: 0.5s;
    cursor: zoom-in;
}

.galeria-inpire-se img:hover {
    transform: scale(1.2);
}

.galeria-inpire-se .itemGaleria {
    overflow: hidden;
}

.galeria-inpire-se .item01 {
    grid-column: span 8;
}

.galeria-inpire-se .item02 {
    grid-column: span 4;
}

.galeria-inpire-se .item03 {
    grid-column: span 4;
}

.galeria-inpire-se .item04 {
    grid-column: span 8;
}


/* sobre-nos */
.img-sobre-nos {
    width: 100%;
    height: 150vh;
    object-fit: cover;
    display: block;
}

.text-sticky {
    top: 200px;
}

.grafismo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

/*footer*/
footer {
    padding-bottom: 10rem;
}

/* responsivo */
@media (max-width: 1400px) {
    .box {
        max-width: 70%;
    }
    .grafismo {
        width: 94.7%;
    }
}

@media (max-width: 1200px) {
    .box {
        max-width: 80%;
    }
    .grafismo {
        width: 94%;
    }
}

@media (max-width: 1000px) {
    .grafismo {
        width: 90.4%;
    }
}

@media (max-width: 992px) {
    .box {
        max-width: 100%;
    }

    .box-description {
        width: 95%;
        height: 95%;
    }

    .grafismo {
        width: 92.7%;
    }
}

@media (max-width: 767.98px) {
    body {
        font-size: 1rem;
    }

    .header,
    .carousel-header {
        position: relative;
        height: 77vh;
        width: 100%;
    }

    .box {
        max-width: 100%;
    }

    .box h5 {
        font-size: 18px;
    }

    .box-description {
        width: 90%;
        height: 90%;
        padding: 0.5rem;
    }

    .galeria .item01 {
        grid-column: span 6;
        grid-row: span 2;
    }

    .galeria .item02 {
        grid-column: span 6;
    }

    .galeria .item03 {
        grid-column: span 6;
        grid-row: span 1;
    }

    .galeria .item04 {
        grid-column: span 12;
    }

    .galeria .item05 {
        grid-column: span 8;
        grid-row: span 1;
    }

    .galeria .item06 {
        grid-column: span 4;
    }

    .img-sobre-nos {
        height: 50vh;
    }

    .grafismo {
        display: none;
    }
}